In [773]:
#MUSTAFA BAYRAK 150210339

In [774]:
# MY QUERY

# SELECT DISTINCT ?item ?itemLabel ?positionLabel ?height ?mass ?genderLabel ?followers
# WHERE
# {
#   ?item wdt:P31 wd:Q5;
#         wdt:P106 wd:Q937857;
#         wdt:P27  wd:Q43;
#   OPTIONAL{?item wdt:P2048 ?height .}
#   OPTIONAL{?item wdt:P2067 ?mass .}
#   OPTIONAL{?item wdt:P413 ?position .}
#   OPTIONAL{?item wdt:P8687 ?followers .}
#   OPTIONAL{?item wdt:P21 ?gender .}


#   SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
# }

In [775]:
# Import pandas to analyze and manipulate data
import pandas as pd

In [776]:
# Read csv containing data from WikiData and create a dataframe(df is a dataframe)
df = pd.read_csv('FootballPlayers.csv')

In [777]:
# First 5 rows in my dataframe
df.head(5)

,item,itemLabel,positionLabel,height,mass,genderLabel,followers
0,http://www.wikidata.org/entity/Q1406255,Ferhat Poyraz,savunma,NaN,NaN,erkek,NaN
1,http://www.wikidata.org/entity/Q1406255,Ferhat Poyraz,savunma,NaN,NaN,erkek,NaN
2,http://www.wikidata.org/entity/Q1406339,Ferit Cömert,savunma,NaN,NaN,erkek,NaN
3,http://www.wikidata.org/entity/Q248064,Zülküf Özer,kaleci,NaN,NaN,erkek,NaN
4,http://www.wikidata.org/entity/Q272727,Çağdaş Atan,stoper,183.0,77.0,erkek,53158.0

In [778]:
# Count of exact duplicates
df.duplicated().sum()
# Actually there was not any exact duplicates in my csv but I modified it to show one exact duplicate

1

In [779]:
# drop rows if there are exact duplicates
df =df.drop_duplicates()

In [780]:
# Count of missing values in each column
df.isnull().sum()

item                0
itemLabel           0
positionLabel     631
height           3947
mass             4206
genderLabel         6
followers        4475
dtype: int64

In [781]:
# Shows which values are missing or not
pd.isna(df)

       item  itemLabel  positionLabel  height   mass  genderLabel  followers
0     False      False          False    True   True        False       True
2     False      False          False    True   True        False       True
3     False      False          False    True   True        False       True
4     False      False          False   False  False        False      False
5     False      False          False    True   True        False       True
...     ...        ...            ...     ...    ...          ...        ...
4519  False      False           True    True   True        False       True
4520  False      False           True    True   True        False       True
4521  False      False          False    True   True        False       True
4522  False      False          False    True   True        False       True
4523  False      False          False    True   True        False       True

[4523 rows x 7 columns]

In [782]:
# Drop rows if there missing values (this function will drop the row even if it has only one missing value)
df = df.dropna()
# Before executing this function shape of df is (4523,7), after the execution it is (31,7)

In [783]:
# Counts of duplicates in each column
print("count of duplicates in positionLabel column:",df.duplicated(subset="positionLabel").sum())
print("count of duplicates in height column:",df.duplicated(subset="height").sum())
print("count of duplicates in mass column:",df.duplicated(subset="mass").sum())
print("count of duplicates in followers column:",df.duplicated(subset="followers").sum())
print("count of duplicates in item column:",df.duplicated(subset="item").sum())
print("count of duplicates in itemLabel column:",df.duplicated(subset="itemLabel").sum())

count of duplicates in positionLabel column: 22
count of duplicates in height column: 14
count of duplicates in mass column: 12
count of duplicates in followers column: 5
count of duplicates in item column: 5
count of duplicates in itemLabel column: 5

In [784]:
# Merge rows if a football player have different positionLabels (grouped by item because different players may have same itemLabel)
df = df.groupby('item', as_index=False).agg(
    {'itemLabel': 'first', 'height': 'first', 'mass': 'first', 'genderLabel': 'first', 'followers': 'first', 'positionLabel': ', '.join})

In [785]:
#  Check for invalid values (height cannot be less than or equal to zero)
(df[df['height'] < 0])['height'].count()

0

In [786]:
#  Check for invalid values (mass cannot be less than or equal to zero)
(df[df['mass'] < 0])['mass'].count()

0

In [787]:
#  Check for invalid values (followers cannot be less than zero)
(df[df['followers'] < 0])['followers'].count()

0

In [788]:
#  Filtered dataframe will not contain invalid values (height,mass and followers cannot be less than zero)
df = df[((df['height'] > 0) & (df['mass'] > 0) & (df['followers'] > 0))]

In [789]:
# Used item column to group players,now droped item column to make DataFrame prettier(this is not a necessary operation)
df = df.drop(['item'], axis=1)

In [790]:
# Show head of dataframe
df.head()

        itemLabel  height  mass genderLabel  followers    positionLabel
0      Emre Çolak   168.0  62.0       erkek   955599.0            kanat
1      Semih Kaya   182.0  66.0       erkek   724737.0  savunma, stoper
2   Yusuf Erdoğan   171.0  68.0       erkek    93996.0            kanat
3      Mert Günok   196.0  92.0       erkek   322930.0           kaleci
4  Yekta Kurtuluş   173.0  69.0       erkek   413551.0            kanat